<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 올리기</title>
  </head>
  <body>
    <div>
      <a href="{% url 'reviews:home' %}"><h3>my Movie reviews</h3></a>
    </div>
    <form action="/create" method="post">
      {% csrf_token %}
      <h2>제목: <input type="text" name="title" /></h2>
      <p>
        개봉년도: <input type="text" name="release_yr" /> 장르:
        <input type="text" name="genre" /> 별점:
        <input type="text" name="rating" /> 러닝타임:
        <input type="text" name="running_time" />
      </p>
      <div>
        <p>리뷰:</p>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
      </div>
      감독: <input type="text" name="director" /> 배우:
      <input type="text" name="actors" />

      <div style="margin-top: 10px">
        <input type="submit" value="Save" />
      </div>
    </form>
  </body>
</html>
