* {
  /* '*' indicates all tags */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
  /* 맨 앞부터 있는 애로 font */
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.relative {
  position: relative;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

header {
  height: 170px;
}

#header-top {
  float: right;
}

#header-top span {
  color: #888;
  letter-spacing: -1px; /* space between letters */
  font-size: 11px;
  line-height: 22px; /* vertical size 유지(중심이 커져도 같은 line) */
}

#header-search {
  clear: both;
  padding-top: 23px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  /*자식 선택자 */
  width: 234px;
  height: 52px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png);
  background-position: 0 -161px;
  background-size: 472px 440px;
  background-repeat: no-repeat;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  top: -26px;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 16px;
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  width: 584px;
  height: 57px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 4px;
  top: -21px;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 460px;
  height: 23px;
  display: inline-block;
}

#header-search fieldset button {
  width: 53px;
  height: 57px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-keyboard {
  background-image: url(./sp_search.png);
  background-repeat: no-repeat;
  background-position: -33px -60px;
  width: 19px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 13px;
}

#search-history {
  background-image: url(./sp_search.png);
  background-repeat: no-repeat;
  background-position: -87px -60px;
  width: 19px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
}

#search-image {
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png);
  background-position: -840px -416px;
  background-repeat: no-repeat;
  width: 45px;
  height: 46px;
  display: inline-block;
  margin: 5px;
}

nav {
  height: 46px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #d1d8e4;
}

nav ul {
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none; /*no 동그라미 */
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  background-image: url(sp_nav.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 14px;
}

nav li:first-child span:first-child {
  /* first is the exception */
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0; /* if only one is different, repetitive code --> 공통 part, 
  specify the one that's DIFFERENT */
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}

.nav-divider {
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
  display: inline-block;
}

#search-ranking {
  position: absolute;
  top: 16px;
  right: 100px;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

main {
  background-color: #f2f4f7;
  width: 100%;
  display: inline-block;
}
